/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}


.intro-crmv {
	font-size: 0.5rem !important;
	
	
}

.intro-box {
	margin-top:3rem;
	
	}